<div class="button-wrapper confirm">
    <div class="button nav enabled">
        <span>$data.buttonValue</span>
        <span class="confirm"></span>
    </div>
</div>
<div class="text">press <strong>ENTER</strong></div>
<div class="aux no-hover">
    <div class="inset"></div>
    <div class="bg"></div>
    <div class="bd"></div>
    <div class="overlay"></div>
</div>